<?xml version='1.0' encoding='utf-8'?>

<GamologeeSettings>
    
    
    
    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------
	         ************************************************ GUI SETTINGS **********************************************************************
	         --------------------------------------------------------------------------------------------------------------------------------------------  -->
	
	
	
	
	<guiSettings>
		
	    <!-- ********************************************************************************************************************************************
	         ************************************************ PLATFORM SETTINGS **********************************************************************
	         ********************************************************************************************************************************************  -->
	
	    <!--------------------------------------->
	    <!--  LOGGING   -->
	    <!--------------------------------------->
	    
	    <!--STRING. Defines trace printing level of logger. availble values are : -->
	    <!-- ALL, INFO, DEBUG, WARN, FATAL, NONE -->
	    <!-- the levels are in ascending order. if traceLevel is on WARN than WARN & FATAL logging will print trace too but DEBUG & INFO logging will not print trace. -->
	    <property name='loggerTraceLevel' value='ALL' />
	    <!--STRING. Defines exception throwing level of logger. availble values are : -->
	    <!-- ALL, INFO, DEBUG, WARN, FATAL, NONE -->
	    <!-- the levels are in ascending order. if exceptionLevel is on WARN than WARN & FATAL logging will throw an exception too but DEBUG & INFO logging will not throw an exception. -->
	    <property name='loggerExceptionLevel' value='NONE' />
	    
	    <!--------------------------------------->
	    <!-- STAGE SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--UINT. the width of targeted assets in pixels. this defines what resolution of width the applications assets were build. value in pixels. -->
	    <property name='stageTargetWidth' value='1200' />
	    <!--UINT. the height of targeted assets in pixels. this defines what resolution of height the applications assets were build. value in pixels. -->
	    <property name='stageTargetHeight' value='800' />
	    <!--UINT. defines the default x and  y padding of the used assets. -->
	    <property name='spriteSheets' def_x_padding='0' def_y_padding='0' />
	
	    <!--------------------------------------->
	    <!--  GENERAL PREFERENCES  -->
	    <!--------------------------------------->
	    
	    <!--BOOLEAN. enables tooltip feature on all GuiElements on mouse hover (will not work on touch devices!) -->
	    <property name='enableToolTips' value='false' />
	    <!--BOOLEAN. detemined weather x and y coordinates are scaled according to screen resolution automaticly -->
	    <property name='autoScale_x_y_positions' value='false' />
	    <!--BOOLEAN. detemined weather componnent's width and height are scaled according to screen resolution automaticly. for example, scroller's width, height -->
	    <property name='autoScaleComponnentsDimentions' value='false' />
	    <!--BOOLEAN. smooths the assets after resizing -->
	    <property name='useSmoothing' value='true' />
	    <!--BOOLEAN. smooths the assets after resizing -->
	    <property name='keepTrackOfComponnents' value='false' />
	    <!--BOOLEAN. smooths the assets after resizing -->
	    <property name='useMemoryTracker' value='false' />
	    <!--UINT. maximum simultaniously downloaded images by Gingee image download manager class (read more at ImageDownloader class description). -->
	    <property name='maxImagesDownloadedSimultaniously' value='2' />
	    <!-- defines all dragging preferences -->
	    <!--UINT. MOUSE_DELTA_MAX_FOR_CLICK is the radious of movement that defines a click from a drag. value in pixels.-->
	    <!--UINT. MOUSE_DELTA_X_MIN_FOR_SIDE_DRAG is minimum x movement that will be considered a side drag. value in pixels. -->
	    <!--UINT. MOUSE_DELTA_Y_MAX_FOR_SIDE_DRAG is maximum y movement that will be considered a side drag. value in pixels. -->
	    <property name='draggingProperties' MOUSE_DELTA_MAX_FOR_CLICK='23' MOUSE_DELTA_X_MIN_FOR_SIDE_DRAG='110' MOUSE_DELTA_Y_MAX_FOR_SIDE_DRAG='50' />
	    
	    <!-- ********************************************************************************************************************************************
	         ************************************************ COMPONNENTS SETTINGS **********************************************************************
	         ********************************************************************************************************************************************  -->
	    
	    <!--------------------------------------->
	    <!-- FONT SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--STRING. determine default text font. font MUST be manually embedded! -->
	    <property name='defFontName' value='_agencyBold' />
	    <!--UINT. determine default text size in pixels. -->
	    <property name='defFontSize' value='30' />
	    <!--UINT. determine default text color in HEX. -->
	    <property name='defFontColor' value='0xffffff' />
	    <!--UINT. determine stroke quality. values are: 1=LOW, 2=MEDUM, 3=HIGH. -->
	    <property name='strokeQuality' value='3' />
	    
	    <!--------------------------------------->
	    <!-- TOOLTIPS SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--STRING. determine tooltip text font. font MUST be manually embedded! -->
	    <property name='toolTipsFontName' value='_agency' />
	    <!--UINT. determine tooltip text size in pixels. -->
	    <property name='toolTipsFontSize' value='30' />
	    <!--UINT. determine tooltip text color in HEX. -->
	    <property name='toolTipsFontColor' value='0xeeeeee' />
	    <!--UINT. determine tooltip background color in HEX. -->
	    <property name='toolTipsBackgroundColor' value='0x000000' />
	     <!--UINT. tooltip's appearence time in millisecs (1000 = 1 second) -->
	    <property name='toolTipsDelayInMillisecs' value='500' />
	    
	    <!--------------------------------------->
	    <!-- SCROLLERS SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--NUMBER. minimum scroller movement time in seconds. -->
	    <property name='scrollMinTweenTime' value='0.3' />
	    <!--NUMBER. maximum scroller movement time in seconds. -->
	    <property name='scrollMaxTweenTime' value='0.5' />
	    
	    <!--------------------------------------->
	    <!-- SCROLLBAR SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--UINT. scrollerbar default bar color in HEX. -->
	    <property name='scrollbarBarColor' value='0xcccccc' />
	    <!--UINT. scrollerbar default shadow color in HEX. -->
	    <property name='scrollbarShadowColor' value='0x999999' />
	    <!--NUMBER. scrollerbar default shadow alpha. use 0 for NO SHADOW. 0=no shadow. 1=full visibility. -->
	    <property name='scrollbarBarAlpha' value='1' />
	    <!--UINT. scrollerbar default bar color in HEX. -->
	    <property name='scrollbarOutlineColor' value='0xdddddd' />
	    <!--NUMBER. scrollerbar default outliner inner color's alpha. use 0 for NO SHADOW. 0=no shadow. 1=full visibility. -->
	    <property name='scrollbarOutlineInnerAlpha' value='0' />
	    <!--UINT. scrollerbar default outline inner color in HEX. -->
	    <property name='scrollbarOutlineInnerColor' value='0xcccccc' />
	    <!--NUMBER. scrollerbar default shadow alpha. use 0 for NO SHADOW. 0=no shadow. 1=full visibility. -->
	    <property name='scrollbarShadowAlpha' value='.5' />
	    
	    <!--------------------------------------->
	    <!-- COMBO BOX SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--UINT. combobox default text size in pixels. -->
	    <property name='comboBoxTextSize' value='20' />
	    <!--UINT. combobox default text color in HEX. -->
	    <property name='comboBoxTextColor' value='0xcccccc' />
	    <!--STRING. combobox default text font. font MUST be manually embedded! -->
	    <property name='comboBoxTextFont' value='_swatch' />
	    <!--UINT. combobox default color for each combo line entry in HEX. -->
	    <property name='comboBoxTextFillColor' value='0xcccccc' />
	    <!--NUMBER. combobox default alpha for each combo line entry. use 0 for NO BACKGROUND. 0=no shadow. 1=full visibility. -->
	    <property name='comboBoxTextFillAlpha' value='0xcccccc' />
	    <!--UINT. combobox default background color in HEX. -->
	    <property name='comboBoxFillColor' value='0xcccccc' />
	    <!--UINT. combobox default open button arrow color in HEX. -->
	    <property name='comboBoxArrowColor' value='0xcccccc' />
	    
	</guiSettings>
	
	
	
	
	 <!-- ------------------------------------------------------------------------------------------------------------------------------------------------
	         ************************************************ TUTORIALS SETTINGS **********************************************************************
	         --------------------------------------------------------------------------------------------------------------------------------------------  -->
	
	
	
	
	
	<tutorialSettings>
	    
	    <!--------------------------------------->
	    <!--  LOGGING   -->
	    <!--------------------------------------->
	    
	    <!--STRING. Defines trace printing level of logger. availble values are : -->
	    <!-- ALL, INFO, DEBUG, WARN, FATAL, NONE -->
	    <!-- the levels are in ascending order. if traceLevel is on WARN than WARN & FATAL logging will print trace too but DEBUG & INFO logging will not print trace. -->
	    <property name='loggerTraceLevel' value='ALL' />
	    <!--STRING. Defines exception throwing level of logger. availble values are : -->
	    <!-- ALL, INFO, DEBUG, WARN, FATAL, NONE -->
	    <!-- the levels are in ascending order. if exceptionLevel is on WARN than WARN & FATAL logging will throw an exception too but DEBUG & INFO logging will not throw an exception. -->
	    <property name='loggerExceptionLevel' value='NONE' />
	    
	    <!--------------------------------------->
	    <!--  GENERAL PREFERENCES  -->
	    <!--------------------------------------->
	    
	    <!--UINT. the glow color of tutorial glowing objects -->
	    <property name='glowColor' value='0x11cccc' />
	    <!--UINT. determine glow quality. values are: 1=LOW, 2=MEDUM, 3=HIGH. -->
	    <property name='glowQuality' value='3' />
	    <!--String. smooths the assets after resizing -->
	    <property name='tutorialCursorURL' value='cursorImage/cursor.png' />
	    <!--BOOLEAN. enables/disables audio FX by tutrial module -->
	    <property name='enableAudio' value='false' />    
	    <!--BOOLEAN. enables/disables text typewriter effect on tutorial texts -->
	    <property name='typeText' value='true' />    
	
	    <!--------------------------------------->
	    <!-- FONT SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--STRING. determine default text font. font MUST be manually embedded! -->
	    <property name='fontName' value='_FV_Almelo' />
	    <!--UINT. determine default text size in pixels. -->
	    <property name='fontSize' value='18' />
	    <!--UINT. determine default text color in HEX. -->
	    <property name='fontColor' value='0x222222' />
	</tutorialSettings>
	
	
</GamologeeSettings>